:root {
    --text-light: #040316;
    --background-light: #ffffff;
    --primary-light: #e5a3a3;
    --secondary-light: #e57171;
    --accent-light: #ba7070;

    --text-dark: #eae9fc;
    --background-dark: #7a5959;
    --primary-dark: #5b1a1a;
    --secondary-dark: #8e1a1a;
    --accent-dark: #914646;
}
#page-container {
    opacity: 1;
    transition: opacity 0.5s ease;
}
.light-mode body {
    font-family: 'Garamond', Serif;
    background-color: var(--background-light);
    color:  var(--text-light);
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out;
}

.dark-mode body { 
    font-family: 'Garamond', Serif;
    background-color: var(--background-dark);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out;
}


.light-mode header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-light);
    padding: 20px 40px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-dark);
    padding: 20px 40px;
    transition: transform 0.3s ease-in-out;
}

.logo {
    background-image: url("css/tss.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 400px;
} 

#navbar {
    display: flex;
    top: 0px;
    transition: transform 0.3s ease-in-out;
}

.dark-mode #socialmed {
    background-color: var(--primary-dark);
    width: 100%;
}
.light-mode #socialmed {
    background-color: var(--primary-light);
    width: 100%;
}

.light-mode nav a {
    margin: 0 15px;
    color: var(--primary-light);
    text-decoration: none;
    font-weight: 700;
    transition: opacity 0.5s, max-height 0.5s, padding 0.5s;
}

.dark-mode nav a {
    margin: 0 15px;
    color: var(--primary-dark); 
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

.light-mode navbar {
    background-color: var(--primary-light);
}

.dark-mode .navbar {
    background-color: var(--primary-dark);
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f4ef;
    color: #4a4a4a;
    margin: 0;
    transition: transform 0.3s ease-in-out;
    padding: 0;
}
.logo {
    background-image: url("../css/tss.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 200px;
}

nav {
    display: flex;
    transition: 0.2s;
}

.light-mode nav a {
    margin: 0 15px;
    color: var(--primary-light);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

.dark-mode nav a {
    margin: 0 15px;
    color: var(--primary-dark); 
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

.light-mode navbar {
    background-color: var(--primary-light);
    transition: 0.2s;
}

.dark-mode .navbar {
    background-color: var(--primary-dark);
}


.navbar .navbar-brand .logo {
    background-image: url("css/tss.svg"); /* Ensure the logo appears */
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 200px;
}

.navbar-toggler {
    border: none; 
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff; 
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    font-weight: 700; 
}


.light-mode .navbar-nav .nav-link:hover {
    text-decoration: underline; 
    color: var(--secondary-light); 
}
.dark-mode .navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: var(--secondary-light);
}

.light-mode .navbar-nav .nav-link.active {
    color:  var(--accent-light);
}

.dark-mode .navbar-nav .nav-link.active {
    color: var(--accent-dark);
}
nav a:hover {
    text-decoration: underline;
    color: #f7e2e2;
}

.light-mode main {
    max-width: 1100px;
    margin: 40px auto;
    padding: 40px 20px;
    background-color: #FEF7DE;    ;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
  transition: opacity 0.5s ease-in-out;
} 

.dark-mode main {
    max-width: 1100px;
    margin: 40px auto;
    padding: 40px 20px;
    background-color:#d4b2a9;
    color: var(--text-dark);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    transition: opacity 0.5s ease-in-out;
}

figure img {
    border-radius: 10px;
    width: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

main p {
    font-size: 1.2em;
    color: #4a4a4a;
    line-height: 1.8;
    margin: 20px 0;
    text-align: left;
}

/* Section Headings */
.light-mode main h2, .section-heading {
    font-size: 2em;
    color: #e57373; 
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center; 
    font-weight: 800;
}
.dark-mode p {
    color: var(--text-light);
}
.dark-mode main h2, .section-heading {
    font-size: 2em;
    color: #5b1a1a; 
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center; 
    font-weight: 800;
}
.light-mode .credits {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-light);
    color: #ffffff;
}

.dark-mode .credits {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-dark);
    color: #ffffff;
}
.dark-mode .credits p{
    color: var(--background-light);
}
iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
    margin: 20px auto;
}
form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#order .form label {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #e57373;
}

#order .form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f7f4ef;
}
#nextb {
    width: 250px;
    background-color: #ba7070;
    border: none;
    font-size: 20px;
}
#nextb:hover {
    background-color: #d89494;
}
#nextb2 {
    width: 150px;
    background-color: #ba7070;
    border: none;
    font-size: 20px;
}
#nextb2:hover {
    background-color: #d89494;
}
#backb {
    width:150px;
    font-size: 20px;
}
#backb2 {
    width:150px;
    font-size: 20px;
}
#finish:hover {
    background-color: #d89494;
    border: none;

}
#finish {
    background-color: #ba7070;
    color: #fff;
    margin: 5px;
}
#order .form input[type="submit"] {
    background-color: #e5a3a3;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#order .form input[type="submit"]:hover {
    background-color: #d89494;
}
.light-mode main h5 {
    color:#e57373;

}

.dark-mode main h5 {
    color:#5b1a1a;

}
.team {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    padding: 40px auto;
}

.team h3 {
    font-size: 1.5em;
    color: #e57373;
    margin-top: 10px;
} 

.team-member {
    width: 30%;
    text-align: center;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.team-member h3 {
    font-size: 1.5em;
    color: #e57373;
    margin-top: 10px;
}
.seasonal-menu {
    display: grid;
    background-color: #FFBE98;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    border-radius: 8px;
    padding: 40px 20px;
    margin: 20px 20px;
}

.smenu-item {
    text-align: center;
    border-radius: 8px; 
    overflow: hidden; 
}

.smenu-item img {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);
    height: 300px; 
    object-fit: cover;
}

.smenu-item h3 {
    margin: 10px 0 5px;
    font-size: 1.3em;
    color: #e57373;
}

.smenu-item p {
    font-size: 0.9em;
    color: #666;
}

main p {
    font-size: 1.2em;
    color: #4a4a4a;
    line-height: 1.8;
    margin: 20px 0;
    padding: 10px 40px;
}
.btn-success {
    background-color: #e57373; /* Your custom color */
    border-color: #fff; /* Border color, if any */

}
.custom-btn:hover {
    background-color: #e5a3a3 ;}
    .custom-bg-pink {
        background-color: #e5a3a3; 
    }
    
.carousel-control-prev,
.carousel-control-next {
        width: 5%; /* Adjust width for more space */
    }
    
.carousel-item img {
        height: auto;
        width: 100%;
        object-fit: cover; /* Ensure images cover the space without distortion */
    }
.carousel-control-prev-icon,
.carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='https://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
.carousel-inner .carousel-item {
        transition: -webkit-transform 2s ease;
        transition: -moz-transform 2s ease;
        transition: -ms-transform 2s ease;
        transition: transform 2s ease;
        transition: all 2s ease;
      }
      
.social-links {
        background-color: none;
        text-align: center; /* Center the text and links */
        padding: 20px 0; /* Add some padding for spacing */
    }
/* .dark-mode span {
    font-size: 20px;
    text-align: center;

} */
    
.light-mode .social-links a {
        color: #d89494;
        margin: 0 15px; /* Space between links */
        text-decoration: none;
        font-size: 30px;
    }
 
.dark-mode .social-links a {
        color: var(--background-light);
        background-color: none;
        margin: 0 15px; /* Space between links */
        text-decoration: none;
        font-size: 30px;
    } 
    
.light-mode .social-links a i:hover {
        color: var(--secondary-light);
    }
.dark-mode .social-links a i:hover {
        color: var(--accent-light);
    }
.light-mode #newsletter {
    max-width: 500px;
    background-color: var(--background-light);
    box-shadow: none;
}
.dark-mode #useful-link p{
    font-size: 20px;
}
.dark-mode #newsletter {
    max-width: 450px;
    background-color: var(--background-dark);
    box-shadow: none;
}
#newsletter .form-label {
    font-size: 20px;
    background-color: none;
    color: #e5a3a3;
    text-align: center;
}
#newsletter .form-control {
    justify-content: center;
}
.light-mode #newsletter .btn {
    color:#fff;
    background-color: var(--primary-light);
}
.dark-mode #newsletter .btn {
    color:#fff;
    border: none;
    background-color: var(--primary-dark);
}
.light-mode footer {
    background-color: var(--background-light);
    padding: 20px 15px;
    width: 100%;
    transition: background-color 0.3s ease;
}
.dark-mode footer {
    background-color: none;
    padding: 0;
    width: 100%;
    color: var(--text-dark);
}
.light-mode .link-list a {
    color: var(--accent-light);
    width: 200px;
    
}
.light-mode .link-list a:hover {
    color: var(--secondary-dark);
    background-color: var(--primary-light);
    
}
.dark-mode .link-list a {
    color: var(--background-light);
    width: 200px;
    background-color: var(--primary-dark);
}
.dark-mode .link-list a:hover {
    color: var(--background-light);
    width: 200px;
    background-color: var(--accent-dark);
}
.light-mode footer a:hover {
    color: #e57373;
}

.light-mode footer p{
    font-size: 15px;
    color:var(--text-light);
}

.dark-mode footer p {
    font-size: 15px;
    color: var(--text-dark);
}

.light-mode footer h5 {
    color: var(--primary-light);
    font-size: 20px;
}
.dark-mode footer h5 {
    color: var(--primary-dark);
    font-size: 20px;
}
.link-list {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    max-width: 300px; /* Set a max width for the list */
    padding-left: 60px;
    margin-bottom: 100px;
    margin: 20px; /* Margin around the link list */
}
.link-item {
    display: flex; /* Flexbox for icon and text alignment */
    align-items: center; /* Center items vertically */
    background-color: #f8d3d3; /* Light pink background */
    padding: 10px; /* Padding for the link */
    margin: 5px 0; /* Margin between links */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Transition for hover effect */
}
.link-item span {
    font-weight: bold; /* Make text bold */
    font-size: 16px; /* Font size for the text */
}
.btn-open-popup {
    padding: 12px 24px;   
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; /* Add this to enable top property in hover */
  }
  
  .btn-open-popup img {
    width: 100px;
    background: transparent ;
  }
  
  .btn-open-popup:hover {
    top: 10px; /* Adjust the value for the desired hover effect */
  }
  
.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.overlay-container.show {
    display: block;
  }

  .popup-box {
    background: #fff;
    padding: 30px 20px;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 450px;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    border: none;
}

.form-label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    text-align: left;
}

.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.btn-close-popup2 {
    background: transparent; /* Make background transparent */
    border: none; /* Remove border */
    color: #000; /* Set color */
    font-size: 20px; /* Set font size */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute; /* Position it absolutely */
    top: 10px;
    right: 10px; 
}
.dark-mode .btn-create {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: var(--primary-dark);
    transition: background-color 0.3s ease, color 0.3s ease;

}
.light-mode .btn-create {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: var(--primary-light);
    transition: background-color 0.3s ease, color 0.3s ease;

}
.light-mode .btn-submit1 {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: var(--primary-light);
    transition: background-color 0.3s ease, color 0.3s ease;

}
.dark-mode .btn-submit1 {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: var(--primary-dark);
    transition: background-color 0.3s ease, color 0.3s ease;

}
.dark-mode .btn-submit1:hover,
.btn-create:hover{
background-color: var(--accent-dark);
}
.light-mode .btn-submit1:hover,
.btn-create:hover{
background-color: var(--accent-light);
}
.btn-submit {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-submit {
    background-color:#e5a3a3;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}
.btn-submit:hover {
    background-color: #e57373;

}

.btn-close-popup {
    background: transparent; /* Make background transparent */
    border: none; /* Remove border */
    color: #000; /* Set color */
    font-size: 20px; /* Set font size */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute; /* Position it absolutely */
    top: 10px;
    right: 10px; 
}

#newsletter {
    position: relative; /* Make the form a positioned ancestor */
    padding: 20px; /* Add padding around the form */
}


.btn-submit:hover {
    background-color: #d89494;
}
@keyframes fadeInUp {
    /* from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    } */
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8); /* Start smaller and centered */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1); /* End at full size and centered */
    }
}

/* Animation */
.overlay-container.show {
    display: flex;
    opacity: 1;
} 

.accordion-section {
    margin-top: 20px; 
    padding: 0 20px; 
}
  
.accordion {
    background-color: #ba7070;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 90%; 
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0 auto 10px auto; /* центрирует элемент и добавляет отступ снизу */
    border-radius: 5px;
    font-weight: 500;
    font-size: large;
}
  
.accordion:hover,
.accordion.active {
    background-color: #e5a3a3; 
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 5px;
}
  

.accordion:after {
    content: '🤍'; 
    font-size: 13px;
    float: right;
    margin-left: 5px;
}
  
/* .active:after {
    content: "1"; 
} */


.btn-custom {
    background-color: #e5a3a3 !important; 
    color: #ffffff;
    padding: 15x 30px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
  
.light-mode .btn-custom{
    background-color: var(--primary-light) !important; 
    color: var(--background-light);
}

.dark-mode .btn-custom{
    background-color: var(--primary-dark) !important; 
    color: var(--background-light);
}

.light-mode .btn-custom:hover { 
    background-color: var(--accent-light) !important; 
    transform: scale(1.05); 
    color: var(--background-light);
}
  
.dark-mode .btn-custom:hover { 
    background-color: var(--accent-dark)!important; 
    transform: scale(1.05); 
}
.light-mode .btn-custom:active {
    background-color: var(--accent-light) !important; 
    transform: scale(0.98); 
}

.dark-mode .btn-custom:active {
    background-color: var(--accent-dark )!important; 
    transform: scale(0.98); 
}
.light-mode #datetime {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color:var(--secondary-light);
    
}
.dark-mode #datetime {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: var(--background-light);
    
}
#time-display {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #333;
}
.form-step {
    display: none; /* Hide all steps by default */
}
.form-step.active {
    display: block; /* Show the active step */
}
.light-mode #greeting {
    text-align: center;
    color: var(--secondary-light);

}
.dark-mode #greeting {
    text-align: center;
    color: var(--primary-dark);

}
#randomQuoteSection {
    text-align: center; /* Center the text and button */
    margin-top: 50px; /* Add some space from the top */
}
  
#quoteDisplay {
    font-size: 18px;
    color: #555555; /* Soft gray for the text */
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
    font-size: 24px;
    font-weight:700;
}
  
#quoteDisplay {
    font-family: 'Roboto', sans-serif;
}
  
#getQuoteButton {
    background-color: #e5a3a3; /* Match the custom background color */
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
  
#getQuoteButton:hover {
    background-color: #ba7070; /* Same hover effect */
    transform: scale(1.05);
}
  
#getQuoteButton:active {
    background-color: #ba7070; /* Same active effect */
    transform: scale(0.98);
}

.content-box {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
    transition: opacity 0.5s ease, height 0.5s ease;
    opacity: 1;
    height: auto;
}
  
.hidden {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
  
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px; /* Slight rounding for smoother look */
    overflow: hidden;
}
.card img {
    border-radius: 10px;
}  
  /* On hover, the card will scale up and add a shadow */
.card:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add a shadow for a floating effect */
}
  
  /* Optional: Adjust the card images to match the effect */
.card-img-top {
    transition: transform 0.3s ease;
}
  
  /* Optional: Zoom in on the image on hover */
.card:hover .card-img-top {
    transform: scale(1.1); /* Slight zoom on the image */
}  

#toggleDiv {
    transition: opacity 0.5s, max-height 0.5s, padding 0.5s; /* Smooth transitions */
    max-height: 200px; /* Set max-height to your desired height */
    overflow: hidden; /* Prevents overflow during the height transition */
}
.light-mode #toggle-time {
    padding: 10px 20px;
    background-color: var(--primary-light); /* Green background */
    color: var(--background-light); /* White text */
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

.light-mode #toggle-time:hover {
    background-color: var(--accent-light); 
    transform: scale(1.05); 
}

.light-mode #toggle-time:active {
    transform: scale(0.95); /* Slightly decrease size when clicked */
}
.dark-mode #toggle-time {
    padding: 10px 20px;
    background-color: var(--accent-dark); /* Green background */
    color: var(--background-light);
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

.dark-mode #toggle-time:hover {
    background-color: var(--accent-light); 
    transform: scale(1.05); 
}

#toggle-time:active {
    transform: scale(0.95); /* Slightly decrease size when clicked */
}
.dark-mode #viewmenu:hover {
    background-color: var(--accent-light);
    transform: scale(1.05); 

}
.light-mode #viewmenu:hover {
    background-color: var(--accent-light);
    transform: scale(1.05); 

}
.light-mode #viewmenu {
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    background-color: var(--primary-light);
    color: var(--background-light);
    width: 200px;
}
.dark-mode #viewmenu {
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    background-color: var(--accent-dark);
    color: var(--background-light);
    width: 200px;

}
.styled-button {
    background-color: var(--primary-light); 
    color: var(--text-light);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

}
.light-mode .styled-button {
    background-color: var(--primary-light);
    color: var(--text-dark);
}

.dark-mode .styled-button {
    background-color: var(--primary-dark);
    color: var(--text-dark);
}

.light-mode .styled-button:hover {
    background-color: var(--secondary-light); 
}

.dark-mode .styled-button:hover {
    background-color: var(--secondary-dark); 
}

.styled-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(198, 72, 78, 0.154);
}
.login-box h2, .signup-box h2 {
    color:var(--text-light);
}
.login-box {
    background: #fff;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 450px;
    text-align: center;
    z-index: 1000;
    position: fixed; /* Fixed positioning for centering in the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    /* transform: scale(0.8); */
    animation: fadeInUp 0.5s ease-out forwards;
}
.signup-box {
    background: #fff;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 450px;
    text-align: center;
    opacity: 0;
    position: fixed; /* Fixed positioning for centering in the viewport */
    top: 50%;
    left: 50%;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
}
.light-mode .btn-signup {
    background-color: #fff;
    border: none;
    color: var(--primary-light);
    font-weight: 600;
}

.dark-mode .btn-signup {
    background-color: #fff;
    border: none;
    color:var(--primary-dark);
    font-weight: 600;
}

.btn-signup:hover {
    color:#e57373;
    text-decoration: underline;
    font-weight: 500;
}

.light-mode .btn-signup1:hover {
    color: var(--secondary-light);
    text-decoration: underline;
    font-weight: 500;
}
.dark-mode .btn-signup1:hover {
    color: var(--secondary-dark);
    text-decoration: underline;
    font-weight: 500;
}

.light-mode .btn-logout:hover {
    color: var(--accent-light);
    text-decoration: underline;
    font-weight: 500;
}
.dark-mode .btn-logout:hover {
    color: var(--accent-light);
    text-decoration: underline;
    font-weight: 500;
}
.light-mode .btn-profile {
    margin: 0 15px;
    color: var(--primary-light);
    background-color: var(--background-light); 
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease

}
.dark-mode .btn-profile {
    margin: 0 15px;
    color: var(--primary-dark);
    background-color: var(--background-light); 
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease
}
.light-mode .btn-logout {
    margin: 0 15px;
    color: var(--background-light);
    background-color: var(--primary-light); 
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease
}

.dark-mode .btn-logout {
    margin: 0 15px;
    color: var(--background-light);
    background-color: var(--primary-dark); 
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease
}
.light-mode .btn-login {
    margin: 0 15px;
    color: var(--background-light); 
    border: none;
    background-color: var(--primary-light);
    border-radius: 15px;
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;

}
.light-mode .btn-login:hover, .dark-mode .btn-login:hover,
.light-mode .btn-signup1:hover,
.dark-mode .btn-signup1:hover{
    color:var(--secondary-light);
    text-decoration: underline;
}
.dark-mode .btn-login {
    margin: 0 15px;
    color: var(--background-light);
    background-color: var(--primary-dark); 
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease
}

.light-mode .btn-signup1{
    margin: 0 15px;
    color:var(--background-light);
    background-color: var(--primary-light); 
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease
}

.dark-mode .btn-signup1 {
    margin: 0 15px;
    color:var(--background-light);
    background-color: var(--primary-dark);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease
}
.light-mode #contact-us p{
    color: var(--text-light);
    font-size: 15px;    
    text-align: center;
}
.light-mode h3, h4 {
    color: var(--text-light);
    padding-top: 30px;
}
.light-mode #useful-link a{
    color: var(--text-light);
    text-decoration: none;
    font-size: 20px;
    padding-top: 30px;
}
.dark-mode #useful-link a{
    color: var(--text-dark);
    text-decoration: none;
    font-size: 20px;
    padding-top: 30px;
}
#viewmenu {
    background-color: var(--accent-light);
}
.profile-popup {
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 12px;
    z-index: 1000;
    width: 500px;
    height: 300px;
    animation: fadeInUp 0.5s ease-out forwards;
    border-width: 20px;
  }
 
  /* .profile-popup-content {
    position: relative;
  } */
  
  .close {
    position: absolute;
    top: -1px;
    right: 14px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
  }
.light-mode .profile-popup h1 {
    color: var(--text-light);
    text-align: center;
  } 
.dark-mode  .profile-popup h1 {
    color: var(--text-light);
    text-align: center;
  } 
  .dark-mode  .profile-popup p {
    padding: 10px;
    font-size: 20px;
  } 
.light-mode .profile-popup p {
    padding: 10px;
    font-size: 20px;
}
.light-mode .btn-logout2 {
    color: var(--background-light);
    background-color: var(--primary-light); 
    border: none;
    width: 200px;
    margin-top: auto; 
    align-self: center;
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    bottom: 20px; /* Distance from the bottom */
    transform: translateX(-50%);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease
}

.dark-mode .btn-logout2 {
    color: var(--background-light);
    background-color: var(--primary-dark); 
    width: 200px;
    border: none;
    margin-top: auto; 
    align-self: center;
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    bottom: 20px; /* Distance from the bottom */
    transform: translateX(-50%);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.burger-menu {
    display: none; 
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 1000;
}

.burger-button {
    font-size: 24px;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #e57171;
}
  
#menu {
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 110px;
    border: 1px solid #ddd;
    padding: 10px;
    transition: all 0,5s ease;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
.light-mode #menu a {
    display: block;
    background-color: #ffffff;
    text-decoration: none;
    color: var(--accent-light);
    margin: 10px 0;
    font-size: 18px;
}

.dark-mode #menu a {
    display: block;
    background-color: #ffffff;
    text-decoration: none;
    color: var(--accent-dark);
    margin: 10px 0;
    font-size: 18px;
}
  
  
.hidden {
    display: none;
}
  
#menu:not(.hidden) {
    display: block;
}